
#quoteSculptureText
{
	margin: 0 auto;
	width: 430px;
	font-family: Helvetica, Century Gothic, Arial;
	font-size: 18px;
	line-height: 20px;
	/*border: solid 1px green;*/
}

#sculptureText
{
	display: inline-block;
	width: 410px;
	/*border: solid 1px blue;*/
}

/*************** sculptors thumbs **************/

#collectionsWrapper
{
	margin: 0 auto;
	margin-top: 5px;
	width: 660px;/*660*/
	height: 500px;
	/*border: solid 1px red;*/
}

.sculptorWrapper
{
	float: left;
	cursor: pointer;
	/*border: solid 1px green;*/
}

#verticalSpacer
{
	clear: both;
	height: 20px;/*20px*/
	/*border: solid 1px red;*/
}

.horizontalSpacer
{
	float: left;
	width: 20px;/*20*/
	height: 150px;/*150*/
	/*border: solid 1px red;*/
}

.numberWrapper
{
	display: inline-block;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	/*width: 20px;
	height: 20px;*/
}

#sculptor_01
{
	background: url(../images/sculptors/sculptor_01.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_02
{
	background: url(../images/sculptors/sculptor_02.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_03
{
	background: url(../images/sculptors/sculptor_03.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_04
{
	background: url(../images/sculptors/sculptor_04.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_05
{
	background: url(../images/sculptors/sculptor_05.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_06
{
	background: url(../images/sculptors/sculptor_06.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_07
{
	background: url(../images/sculptors/sculptor_07.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_08
{
	background: url(../images/sculptors/sculptor_08.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_09
{
	background: url(../images/sculptors/sculptor_09.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_10
{
	background: url(../images/sculptors/sculptor_10.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_11
{
	background: url(../images/sculptors/sculptor_11.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}

#sculptor_12
{
	background: url(../images/sculptors/sculptor_12.jpg) no-repeat;
	background-color: #000;
	background-position: center;
	width: 150px;
	height: 150px;
	/*border: solid 1px green;*/
}
