
/* ==========================================================================
   Author's custom styles - Contact page
   ========================================================================== */

article {
	background: url(../img/footer-gradient.png) no-repeat;
}

article a:link, article a:visited, article a:hover {
	color: #fff;
	text-decoration: none;
	opacity: 1;
}

.page-about-btn {
	float: left;
    background: url(../img/pages-menu/about-btn.png) no-repeat;
	background-size: 100%;
    width: 50%;
    padding-top: 20.31%;
    /*width: 320px;
    height: 130px;*/
}

.page-contact-uat-btn {
	float: left;
    background: url(../img/pages-menu/contact-uat-btn-active.png) no-repeat;
    background-size: 100%;
    width: 50%;
    padding-top: 20.31%;
}

.page-request-info-btn {
	float: left;
    background: url(../img/pages-menu/request-info-btn.png) no-repeat;
    background-size: 100%;
    width: 50%;
    padding-top: 20.31%;
}

.page-degrees-btn {
	float: left;
    background: url(../img/pages-menu/degrees-btn.png) no-repeat;
    background-size: 100%;
    width: 50%;
    padding-top: 20.31%;
}

.about-text {
	color: #e3e3e3;
	padding: 40px;
	font-size: 100%;
}

.link-style {
	background: rgba(256,256,256,.15);
	display: block;
	max-width: 540px;
	padding: 10px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	border: solid 1px #fff;
}

@media all and (max-width: 480px) {
	
	h1 { font-size: 1.4em; }
	.about-text {
	padding: 20px;
	}

}

@media all and (max-width: 430px) {
	
	h1 { font-size: 1.3em; }
	h3 { font-size: 1em; }
	.about-text {
	padding: 10px;
	}

}

@media all and (max-width: 340px) {
	
	h1 { font-size: 1em; }
	h3 { font-size: .8em; }
	.about-text {
	padding: 10px;
	}

}
